---
---

<!DOCTYPE html>
<html lang='{{ site.podcast_lang }}'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.podcast_title }}</title>
    <!-- [if lt IE 9]>
      <meta http-equiv='X-UA-Compatible' content='IE=edge' />
      <script type='text/javascript' src='https://about.urza.cz/js/html5.js' charset='UTF-8' title='create HTML5 elements'></script>
    <![endif]-->
    <meta name='owner' content='{{ site.podcast_owner }}' />
    <meta name='web_author' content='Honza Pobořil' />
    <meta name='designer' content='Veronika Opatrná' />
    <meta property='og:type' content='website' />
    <meta property='og:site_name' content='{{ site.podcast_title }}' />
    <meta property='og:url' content='{{ site.podcast_url }}' />
    <meta property='og:title' content='{{ site.podcast_title }}' />
    <meta property='og:image' content='{{ site.podcast_album_art }}' />
    <meta property='og:locale' content='{{ site.podcast_lang }}' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:url' content='{{ site.podcast_url }}' />
    <meta name='twitter:title' content='{{ site.podcast_title }}' />
    <link type="application/rss+xml" rel="alternate" title="{{ site.podcast_title }}" href="{{ site.podcast_url }}rss.xml"/>

    <link rel='stylesheet' type='text/css' href='https://about.urza.cz/fonts/fonts.css' media='all' />
    <link rel='stylesheet' type='text/css' href='assets/podcasts.css' media='all' />
    <link rel='shortcut icon' id='favicon' href='https://about.urza.cz/img/urza.logo.ico' type='image/x-icon' />
    <link rel='image_src' href='{{ site.podcast_album_art }}' />
  </head>
  <body>
    <header>
      <h1>{{ site.podcast_title }}</h1>
    </header>
    <main>
      Sleduj videa z <a href="https://www.youtube.com/kanalsvobodnehopristavu">Kanálu Svobodného přístavu</a> jako podcast:
      <p>
        <a href="https://breez.link/p?feedURL=https%3A%2F%2Fpodcast.urza.cz%2Frss.xml">
          <img src="assets/badge_breez.svg" width="170" alt="Přidat do Breez">
        </a>
      </p>
      <p>
        <a href="https://podcasts.apple.com/cz/podcast/kan%C3%A1l-svobodn%C3%A9ho-p%C5%99%C3%ADstavu/id1477237854?l=cs">
          <img src="assets/badge_apple.svg" width="170" alt="Přidat do Apple Podcasts">
        </a>
      </p>
      <p>
        <a href="https://open.spotify.com/show/2dSVOYYrl5sKqoNvq8xsXL">
          <img src="assets/badge_spotify.svg" width="170" alt="Přidat do Spotify Podcasts">
        </a>
      </p>
      <p>
        <a href="rss.xml">
          nebo přímo přes RSS
        </a>
      </p>
    </main>
  </body>
</html>
