:root {
  font-family: 'StormTypeRegula', 'Georgia', 'Garamond', 'EBGaramond', 'UrzaGaramond', 'Baskerville Old Face', 'Baskerville', 'Bookman Old Style', serif;
}

body {
  background-position: left top, right 80%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-image: url('anart-gold.jpg'), url('anart-ink.jpg');
  padding: 0;
  margin: 0;
  height: 100vh;
}

header, main {
  max-width: 470px;
  margin: auto;
  padding: 20px;
}

header {
  margin-top: 140px;
}

main {
  margin-bottom: 70px;
}
